/senac-cn-ado01/n2m
/senac-cn-ado02/trig
/senac-cn-ado02/seno.dat
/senac-cn-ado02/seno.png
/senac-cn-ado02/cosseno.dat
/senac-cn-ado02/cosseno.png
/senac-cn-ado03/euler
/senac-cn-ado03/euler_flt.png
/senac-cn-ado03/euler_dbl.png
/senac-cn-ado03/euler_ldbl.png
/senac-cn-ado04/secante
/senac-cn-ado04/bissec
/senac-cn-ado04/newton